<% include ./partials/header %>

<div class="main ui segment container">
    <div class="ui huge header"><%= post.title %></div>
    <div class="ui attached ">
        <div class="item">
            <img class="ui centered rounded image" src="<%= post.image %>">
            <div class="content">
                <%= post.created.toDateString() %>
            </div>
            <div class="description">
                <p><%= post.body %></p>
            </div>
            <a href="/posts/<%= post._id %>/edit"><button class="ui basic green button">Edit</button></a>
            <form id="delete" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                <button class="ui basic red button">Delete</button>
            </form>
        </div>
    </div>


</div>

<% include ./partials/footer %>


